<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Dashboard/>
  </div>
</template>

<script>
// @ is an alias to /src
import Dashboard from '../components/Dashboard'

export default {
  name: 'home',
  components: {
    Dashboard
  }
}
</script>
