<template>
  <LoginInput />
</template>

<script>
import LoginInput from '../components/LoginInput.vue'
export default {
  name: 'Login',
  components: {
    LoginInput
  }
}
</script>

<style lang="scss">

</style>
