<template>
  <div>
    <h1>{{ 'hello, ' + (myUserInfo && myUserInfo.name || '') }}</h1>
    <button @click="logout">Logout</button>
  </div>
</template>

<script>

export default {
  name: 'Dashboard',
  data () {
    return {
    }
  },
  computed: {
    myUserInfo () {
      return this.$store.state.user.myUserInfo
    }
  },
  created () {
    this.getMyInfo()
  },
  mounted () {
  },
  methods: {
    getMyInfo () {
      this.$store.dispatch('user/fetchMyInfo')
        .then(res => {
          console.log('TCL: getMyInfo -> res', res)
          console.log('success fetching myInfo')
        })
        .catch(err => {
          console.log('TCL: getMyInfo -> err', err)
          console.log('failed fetching myInfo')
        })
    },
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
