<template>
  <div class="loginContainer" >
    <h1>Please Login</h1>
    <div class="">
      Username:
      <input v-model="username" />
      <br>
      Password:
      <input type="password" v-model="password" ty/>
    </div>
    <br>
    <button @click="login">Login</button>
  </div>
</template>

<script>

export default {
  name: 'LoginInput',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  computed: {
  },
  created () {
  },
  mounted () {
  },
  methods: {
    login () {
      this.$store.dispatch('auth/login', { username: this.username, password: this.password })
        .then(res => {
          console.log('TCL: mounted -> res', res)
          this.$router.push('/home')
        })
        .catch(err => {
          console.log('TCL: mounted -> err', err)
          alert('Login failed')
        })
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
