<template>
  <div id="app">
    <div id="nav">
      <div v-if="$store.getters['auth/isLoggedIn']">
        <router-link to="/home">Home</router-link>&nbsp;|&nbsp;
      </div>
      <div>
        <router-link to="/about">About</router-link>
      </div>
      <div v-if="!$store.getters['auth/isLoggedIn']">&nbsp;|&nbsp;
        <router-link to="/login">Login</router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    font-weight: bold;
    color: $light-red;
    &.router-link-exact-active {
      color: $light-blue;
    }
  }
}
</style>
